# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

monica-src/obj
monica-src/Makefile
monica-src/monica.py
*.cxx

*.pyc
*.py~
morris/runs
*.*~

e-fast/runs
/configs/2015-07-sapaper_agronomy/Ascha/sugar-beet/crop_parameters-ZR.txt
/configs/2015-07-sapaper_agronomy/Ascha/sugar-beet/monica_parameters.txt
/configs/2015-07-sapaper_agronomy/Ascha/sugar-beet/rmout.dat
/configs/2015-07-sapaper_agronomy/Ascha/sugar-beet/smout.dat
/configs/2015-07-sapaper_agronomy/Ascha/winter-rape/crop_parameters-WC.txt
/configs/2015-07-sapaper_agronomy/Ascha/winter-rape/monica_parameters.txt
/configs/2015-07-sapaper_agronomy/Ascha/winter-rape/rmout.dat
/configs/2015-07-sapaper_agronomy/Ascha/winter-rape/smout.dat
/configs/2015-07-sapaper_agronomy/Werlte/sugar-beet/crop_parameters-ZR.txt
/configs/2015-07-sapaper_agronomy/Werlte/sugar-beet/monica_parameters.txt
/configs/2015-07-sapaper_agronomy/Werlte/sugar-beet/rmout.dat
/configs/2015-07-sapaper_agronomy/Werlte/sugar-beet/smout.dat
/configs/2015-07-sapaper_agronomy/Werlte/winter-rape/crop_parameters-WC.txt
/configs/2015-07-sapaper_agronomy/Werlte/winter-rape/monica_parameters.txt
/configs/2015-07-sapaper_agronomy/Werlte/winter-rape/rmout.dat
/configs/2015-07-sapaper_agronomy/Werlte/winter-rape/smout.dat
